@model QuizDiet.Models.Data.ListViewModel

@{
    ViewData["Title"] = "Quiz";
}


@if (Model != null)
{
    
    <form method="POST">
        @foreach (var item in Model.Questions)
        {

            <h2>@Html.DisplayFor(modelItem => item.Questions)</h2>
            <br>
            @foreach(var itemsAnswer in Model.Answers)
            {

                <input type="radio" id="@itemsAnswer.IDAnswer" name="answer" value="@itemsAnswer.Points">
                <label for="answer">@Html.DisplayFor(modelItem => itemsAnswer.Answers)</label>
                <br />
            }
        }


        <a href="/home/quiz/2"><input type="submit" /></a>
    </form>

}
else
{
    <a href="/home/">Brak pytań -- Powrót</a>
}

