@model QuizDiet.Models.Data.ResultViewModel

@{
    ViewData["Title"] = "Result";
}

<h1>Twoja dieta:</h1>
@foreach (var item in Model.Results)
{
    <h3>@Html.DisplayFor(modelItem => item.Diet)</h3>
}